.landing_page {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left: 0;
    padding-right: 0;
}

.gradient {
    background-image: linear-gradient(rgba(168,117,177,1), rgba(168,117,177,0));
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left:0;
    padding-right: 0;
}

.carousel {
    max-width: 70%; /* or any desired width */
    margin: 0 auto; /* Center the carousel */
    padding: 0 15px; /* Optional: add some padding */
    position: relative;
}

.container {
    margin: 0;
    padding: 0;
}

.logo {
    width: 600px;
    height: 600px;
    display: block;
    margin: 0 auto;
    filter: none;
    border-radius: 0;
}

.wave-container {
    position: relative;
    width: 100%;
}

.wave {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
}


.btn {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

.landing_page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensure the image scales properly */
    width: 50%;
    height: auto;
  }

/* Author */

.author-container {
    max-width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    width: 100%;
    margin: 20px;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;


    .bio_pic {
        max-width: 50%;
        height: auto;
        object-fit: cover;
    }


    .author_text {
        flex: 1;
        padding: 20px;
        color: #36454F;
        h1 {
            margin: 0;
            font-size: 48px;
        }

        p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 1.5;
        }

        a {
            color:#52663b;
            text-decoration: none;
        }
    }
}

/* Article list */
.article_heading {
    margin-top: 4rem;
    font-weight: 400;
}

.article_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list_date {
    font-size: var(--font-size-base);
    color: var(--grey);
    width: 260px;
    display: inline-block;
}

.article_ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
    color: var(--black);
}

@media only screen and (min-width: 768px) {
    .article_ul li a {
        flex-direction: row;
        align-items: center;
    }

    .article-list_date {
        text-align: right;
    }
}

.article_ul lii {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article_ul li:not(:last-child) {
    border-bottom: 1px solid var(--grey-light);
}

.article_ul li:hover {
    filter: none;
}

.article_ul:hover li:hover {
    filter: none;
}

.pagination {
    font-size: 1.3rem;
    color: var(--grey);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

.article {
    white-space: pre-wrap;
}

.footer {
    margin: 4rem;
    text-align: center;
}


.featured {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left:0;
    padding-right: 0;
    border-radius: 0;
    margin-bottom: 24px;
    box-sizing: border-box;

    background-color: rgba(168,117,177,.8); /* Gainsboro */


    img {
        max-width: 50%;
        height: auto;
        object-fit: cover;
    }

    .featured_text {
        flex: 1;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: white;
        h2 {
            margin: 0;
            font-size: 48px;
        }

        p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 1.5;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.post_body {
    display: block;
}
.post_body img{
    max-width: 100%; /* Make images responsive */
    height: auto;    /* Maintain aspect ratio */
}

.admin {
    padding: 20px;
}

.admin_title {
    h2 {
        font-size: var(--font-size-lg);
    }

    .btn {

    }
}

.admin_post{
    list-style-type: none;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        border-bottom: 1px solid var(--grey);

        a {
            font-size: var(--font-size-md);
            text-decoration: none;
            flex-grow: 1;
        }

        .btn {
            margin-left: 10px;
            width: 80px;
            height: 35px;
            display:inline-block;
        }
    }
}