.header-container {
    position: relative;
    width: 100%;
    height: auto;
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between; /* This makes the logo and navbar sit at opposite ends */
    align-items: center;
    background-color: var(--purple);
    width: 100vw;
    margin-left: calc(-50vw + 50%); 
    padding-left: 24px;
    padding-right: 24px;
    top: 10%;
    z-index: 1;
}


.header-logo {
    width: 20%; /* Adjust the logo size */
    max-width: 200px;
    height: auto; /* Maintain aspect ratio */
}

.header-links {
    
    list-style: none; /* Remove default list styling */
    display: flex; /* Align links horizontally */
    gap: 20px; /* Space between the links */
    margin: 0; /* Remove default margin */
}

.header-links li a {
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    font-weight: 600; /* Bold text */
    font-size: var(--font-size-md); /* Adjust font size */
    padding: 10px 15px; /* Add padding to the links */
}

.header-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
    border-radius: 5px; /* Add rounded corners */
}


.header-wave {
    .wave-container {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding-left: 0;
        padding-right: 0;
        display: block;
    }
}