body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

a {
    color: var(--black);
    text-decoration: none;
}

.nav-bar a:hover {
    color: #f0e6f6;
    font-size: calc(var(--font-size-md) * 1.05);
}

.nav-bar a {
    color: white;
    font-size: var(--font-size-md);
    text-decoration: none;
    font-weight: 600;
}