<div class="header-container">
<header class="header">
    <div class="header-logo">
        <img src="/img/paw-print.png" alt="logo">
    </div>
    <ul class="header-links">
        <li><a href="/">Latest</a></li>
        <li><a href="/about">About</a></li>
        <li>
            <a href="#">
                Search
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85zM12.5 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </a>
        </li>
    </ul>

</header>

<div class="header-wave">
<div class="wave-container">
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 L 0,100 C 109.95215311004787,104.34449760765551 219.90430622009575,108.68899521531101 311,100 C 402.09569377990425,91.31100478468899 474.334928229665,69.58851674641147 561,73 C 647.665071770335,76.41148325358853 748.7559808612441,104.95693779904306 862,122 C 975.2440191387559,139.04306220095694 1100.641148325359,144.58373205741626 1199,139 C 1297.358851674641,133.41626794258374 1368.6794258373207,116.70813397129187 1440,100 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#a875b1" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path><path d="M 0,400 L 0,233 C 100.26794258373207,252.37799043062202 200.53588516746413,271.75598086124404 278,276 C 355.46411483253587,280.24401913875596 410.12440191387554,269.3540669856459 522,252 C 633.8755980861245,234.64593301435409 802.9665071770336,210.82775119617222 911,203 C 1019.0334928229664,195.17224880382778 1066.0095693779906,203.33492822966508 1144,211 C 1221.9904306220094,218.66507177033492 1330.9952153110048,225.83253588516746 1440,233 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="#a875b1" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 200)"></path></svg>

</div>
</div>

</div>

